<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script type="text/javascript" th:src="@{/js/jquery-easyui-1.7.0/jquery.min.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/js/jquery-easyui-1.7.0/themes/default/easyui.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/js/jquery-easyui-1.7.0/themes/icon.css}" />
	<script type="text/javascript" th:src="@{/js/jquery-easyui-1.7.0/jquery.easyui.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery-easyui-1.7.0/locale/easyui-lang-zh_CN.js}"></script>
	<style type="text/css">
		.center{
			position: absolute;
			width:400px;
			height:214px;
			top:0;
			left:0;
			right:0;
			bottom:0;
			margin: auto;
			z-index:10;
			//background-color: #e60012;
		}
	</style>
</head>
<body style="overflow: hidden;margin: 0;">
	<img th:src="@{/background.jpeg}" width="100%" height="100%">
	<div class="center" align="center">
		<form action="/sys_user/login">
			 <input class="easyui-textbox" id="usercode" name="usercode" data-options="iconCls:'icon-man',iconAlign:'left',prompt:'请输入用户名'" style="width:200px"><br>
			 <input class="easyui-passwordbox" id="password" name="password" data-options="iconAlign:'left',prompt:'请输入密码'" style="width:200px"><br>
			 <div id="msg"></div>
			 <a href="#" class="easyui-linkbutton" style="height: 25px;width:80px" onclick="login()">login</a>
			 
		</form>
	</div>
	<script type="text/javascript">
		$("body").keydown(function(){
			if(event.keyCode == "13"){
				login();
			}
		});
		
		function login(){
			if($("#usercode").val().trim()=='' || $("#password").val().trim()=='' ){
				$("#msg").html("把信息都填了！");		
			}else{
				$("form").submit();
			}
		}
		
		function clear(){
			alert(555);
			$("#msg").html("");	
		}
	</script>
</body>
</html>